<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="ConnectionString"
			 connectionString="Server=.;Database=LibrarySystem;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
			  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>